@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Varela+Round&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Para evitar la barra de desplazamiento horizontal */
}



/*CONTENDEDOR DEL LABORATORIO*/
.laboratory-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: column;
}

    /*IMAGEN DEL LABORATORIO*/
    .image-container {
        /* Estilos del contenedor de la imagen */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 50px; /* Altura mínima de la imagen del laboratorio */
        height: 15vw;  /* Altura de la imagen del laboratorio */
    }

    /*LINEA DEL LABORATORIO*/
    .cintaLinea {
        font-family: 'Varela Round', sans-serif;
        background-color: rgba(255, 96, 96, 1);
        color: white;
        padding: 1px 10px; /* Espaciado interno */
        /* display: inline-block; */ /* Para que ocupe solo el ancho del contenido */
        border-radius: 5px; /* Bordes redondeados */
        margin-bottom: 10px; /* Espacio entre líneas */
        font-size: 10px;
       
    }

        /*CONTENEDOR PARA LOS PRODUCTOS*/
        .row-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 10px;
        }

            /*ESPACIO DEL MEDICAMENTO*/
           /*  .medicamento {
                padding: 10px;
                margin-left: 5px;
                margin-right: 5px;
                background-color: white; */
                /* width: 47%; *//*ajusta la separacion entre productos*/
            
            @media (max-width: 400px) {
                /* Estilos para pantallas con ancho máximo de 600px */
                .medicamento {
                    padding: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: white;
                    width: 208px;
                    width: 42%;
                    height: 105px;
                }
                .producto-nombre {
                    font-weight: bold;
                    font-family: 'Varela Round', sans-serif;
                    color: white;
                    border-radius: 5px;
                    font-size: 8px;
                    text-transform: uppercase;
                    margin-top: 2px;
                    display: inline-block;
                    padding: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                
                /*PRECIO*/
                .precio{
                    position: absolute;
                    font-family: "Righteous", sans-serif;
                    color: white;
                    top: 3px;
                    left: 5px;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-size: 12px;
                    z-index: 1;
                }
                #globo_precio{
                    width: 35%;
                    height: auto;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    z-index: 0;
                }

                /*INFORMACION DEL PRODUCTO*/
                .producto-info {
                    border: 1px solid #ccc;
                    width: 50%;
                    height: auto;
                    position: absolute;
                    top: 5px;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.8);
                    padding-bottom: 2px;
                    padding-left: 3px;
                    padding-right: 3px;
                    border-radius: 5px;
                    z-index: 1;
                    border-style: dashed; 
                    border-width: 2px; 
                    border-color: #9B9B9B;
                    align-items: center;
                    display:flex;
                    flex-direction: column;
                }

                /*EL NOMBRE DEL PRODUCTO ESTA ABAJO DEBIDO A QUE CAMBIA DE COLOR SEGUN AL LABORATORIO*/

                .producto-descripcion {   
                    font-weight: bold;
                    font-family: 'Varela Round', sans-serif;
                    text-transform: uppercase;
                    font-size: 6.5px;
                    overflow: hidden; 
                    text-align: center;
                    padding: 2px;
                    z-index: 3;

                /*  width: 100%;
                    text-align: center;
                    font-size: min(5vw, 20px); 
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis; */
                }

                .producto-presentacion {
                    
                    font-family: 'Varela Round', sans-serif;
                    font-weight: bold;
                    color: white;
                    font-size: 6px;
                    text-transform: uppercase;
                    text-align: center;
                    background-image: linear-gradient(45deg, #0038FC, #03C1A3);
                    border-radius: 5px;
                    display: inline-block;
                    padding: 2px;
                    padding-left: 3px;
                    padding-right: 3px; 
                }


                /*IMAGEN DEL PRODUCTO*/
                #imagen_producto{
                    /* filter: drop-shadow(0 0 10px rgba(0,0,0,.8)); */ /*por si se inserta imagen png*/
                    width: 58%;
                    height: auto;
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                }

                /*ESCALA*/
                #escala{
                    width: 15%;
                    height: auto;
                    position: absolute;
                    top: auto;
                    right: 1px;
                }

                /*PIE DE PAGINA*/
                .pie_de_pagina{
                    padding: 10px;
                    text-align: center;
                    font-family: 'Varela Round', sans-serif;
                    font-weight: bold;
                    font-size: 10px;
                }
            }

/*IMAGEN DEL LOGO DE BONED*/
#logoboned{
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

                

/* Colores para líneas medicinales */
.cintaLinea[data-linea="DROPESAC"] {
    background-color: rgba(255, 96, 96, 1);
}

.cintaLinea[data-linea="TERBOL"] {
    background-color: #58BF53;
}
.cintaLinea[data-linea="TOBAL"] {
    background-color: #27A3A5;
}


/*COLOR DEL DIV DEL PRODUCTO*/

.producto-nombre[data-linea="DROPESAC"] {
    background-image: linear-gradient(45deg, #FF6060, #CCA235);
}
.producto-nombre[data-linea="TERBOL"] {
    background-image: linear-gradient(45deg, #1CAE15, #1BA7FD);
}

.producto-nombre[data-linea="TOBAL"] {
    background-image: linear-gradient(45deg, #23A8AA, #FEC316);
}

